<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.fiveglass.midproject.service.MemberMapper">
	<select id="memberSelect">
	
	</select>
	<insert id="memberInsert">
		INSERT INTO MEMBER
		VALUES(#{memeberId}, #{memberPw}, #{memberName}, #{memberAddr}, #{memberBirth}, 
		#{memberTel}, #{memberGrade}, #{memberType}, #{memberAccsseToken}, #{memberRefreshToken});
	</insert>
	<update id="memberupdate">
	
	</update>
	<delete id="memberdelete">
	
	</delete>
</mapper>