<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.fiveglass.notice.service.NoticeMapper">
	<select id = "noticeSelectList" 
		resultType = "co.fiveglass.notice.service.NoticeVO">
		SELECT * FROM NOTICE ORDER BY NOTICE_ID DESC
	</select>
	<select id = "noticeSelect"
		parameterType = "co.fiveglass.notice.service.NoticeVO"
		resultType = "co.fiveglass.notice.service.NoticeVO">
		SELECT * FROM NOTICE
		WHERE notice_id = #{noticeId}
	</select>
	<insert id="noticeInsert" 
		parameterType = "co.fiveglass.notice.service.NoticeVO">
		<!-- selectKey는 keyProperty에 해당하는 데이터를 받아와서 반환 -->
		<!-- 여기서 order="BEFORE"는-->
		<selectKey keyProperty = "noticeId" resultType="int" order="BEFORE">
			SELECT MAX(NOTICE_ID) + 1 AS noticeId FROM NOTICE
		</selectKey>
		INSERT INTO NOTICE
		VALUES (#{noticeId},#{noticeWriter},#{noticeTitle},#{noticeSubject},#{noticeWdate},0)
	</insert> 
	<update id="noticeUpdate"
		parameterType = "co.fiveglass.notice.service.NoticeVO">
		UPDATE NOTICE 
		<set>
			<if test = "noticeWriter != null">NOTICE_WRITER = #{noticeWriter},</if>
			<if test = "noticeTitle != null">NOTICE_TITLE = #{noticeTitle},</if>
			<if test = "noticeWdate != null">NOTICE_WDATE = #{noticeWdate},</if>
			<if test = "noticeSubject != null">NOTICE_SUBJECT = #{noticeSubject}</if>
		</set>
		WHERE NOTICE_ID = #{noticeId}
	</update>
	<delete id="noticeDelete">
		DELETE FROM NOTICE 
		WHERE NOTICE_ID = #{noticeId}
	</delete>
</mapper>